*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #4facfe 0%, #00f2fe 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 10px;
    color: #fff;
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3498db;
    padding: 10px 20px;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
}

.user-menu{
    display: flex;
    align-items: center;
}

#username-display{
    margin-left: 15px;
    margin-right: 15px;
    font-weight: bold;
}

#logout-btn{
    background-color: #e75c3c;
    border: none;
    padding: 8px 12px;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.container{
    background-color: #fff;
    color: #333;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    border-radius: 12px;
    width: 100%;
    max-width: 500px;
    transition: 0.3s;
}

.container:hover{
    transform: scale(1.02);
}

h1{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}

.difficulty-selection{
    margin: 20px 0;
}

.hidden{
    display: none;
}

.difficulty-btn{
    background: #8e44ad;
    color: white;
    padding: 10px 20px;
    margin: 10px 0 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.difficulty-btn:hover{
    background: #e097ff;
}

.question{
    margin-bottom: 25px;
}

.question p {
    font-size: 18px;
    font-weight: bold;
}

label{
    margin-left: 10px;
    display: block;
    cursor: pointer;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.3s;
}

label:hover{
    background-color: #dfe6e9;
}

.option{
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #cbcbcb;
    border-radius: 8px;
}

.option input[type="radio"]{
    display: none;
}

.option .custom-radio{
    width: 16px;
    height: 16px;
    border: 2px solid blue;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.option input[type="radio"]:checked + .custom-radio{
    background-color: #0163cd;
}

.option input[type="radio"]:checked + .custom-radio::before{
    content: '';
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
}

button{
    width: 100%;
    padding:15px;
    background-color: #00b894;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s , transform 0.2s;
}

button:hover{
    background-color: #019875;
    transform: translateY(-2px);
}

#result{
    font-size: 1.2rem;
    font-weight: bold;
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
    text-align: center;
    transition: all 0.3s ease;
}

.excellent{
    background-color: rgb(48,255,48);
    color: white;
    box-shadow: 0 4px 8px rgb(1,38,1);
    border: 2px solid rgb(2,85,2);
}

.good{
    background-color: rgb(227,235,8);
    color: white;
    box-shadow: 0 4px 8px rgb(38,38,1);
    border: 2px solid rgb(75,85,2);
}

.try-again{
    background-color: rgb(243,23,20);
    color: white;
    box-shadow: 0 4px 8px rgb(38,1,1);
    border: 2px solid rgb(85,2,2);
}

